{% extends "home2.html" %}
{% block title %}Sign Up Page{% endblock %}

{% block content %}
<style>
  form{
      margin: 8%;
      padding: 4rem 1rem 4rem 1rem;
      box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);
  }
  .form-control{
      display: block;
      width: 100%;
      line-height: 1.5rem;
      border-color: #00ac96 !important;
      border-style: solid !important;
      border-bottom: none;
      /* padding: 0px !important; */
      color: #495057;
      height: auto;
      background-clip: padding-box;
      
  }
  .form-control:focus{
      background-color: rgba(67, 123, 133, 0.301);
      color: white;
      background-color: rgb(130, 116, 182);
      border-color: #fff;
      box-shadow: none;
      outline: 0;
  }


</style>



<main class="container form-signin" style="max-width: 50%;">


  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p class="bg-grey text-success">{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/signup" method="post">
    <center>
      <img class="mb-4" src="/static/img/profilepic.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
    
      <div class="form-group">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username_sign" required>
      </div><br>

      <div class="form-group">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password_sign" required>
      </div><br>

      <div class="form-group">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" name="cpassword_sign" required>
      </div><br>  

      <div class="form-group">
        <input type="text" class="form-control" id="floatingPassword" placeholder="Developer's name" name="devName_sign" required>

      </div><br>
    

      <button class="w-50 btn btn-md btn-secondary" type="submit">Sign Up</button>

      <p class="text-success"><em>{{ msg }}</em></p>

      <p>Already have an account? <a href="/login"><u>Login</u></a> here</p>

      <p class="mt-3 mb-3 text-muted">&copy; 2021</p>
    </center>
  </form>
</main>



{% endblock %}